#h1{


}

#header
{
    background-color: rgb(148, 124, 124);
    height: 5vh;
}

#foto
{
    background-color: rgb(151, 151, 151);
    height: 40vh;
    margin-bottom: 5vh;
}

#titeltext
{
    background-color: rgb(151, 151, 151);
    height: 40vh;
    margin-bottom: 5vh;
}

.voorbeeld1
{
    background-color: rgb(230, 61, 215);
    height: 25vh;
}

.voorbeeld2
{
    background-color: rgb(230, 61, 215);
    height: 25vh;
}

#voet
{
  background-color: rgb(148, 124, 124);
    height: 10vh;
}

.text
 {
 height: 50vh;
}

img{

    max-width: 50vh;
    max-height: 40vh;
    
}